

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    color: #222;
}


h1 {
    font-family: "Garamond", serif;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin: 8px;
    color:black;
}


h2 {
    font-family: "Garamond", serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 40px;
    padding: 0;
    color:black;
}

p {
    font-family: "Garamond", serif;
    font-size: 1.5rem;
    margin: 40px;
    color:black;
}

/* New Header Layout/Design below*/
.New_Header_Logo {
    display: block;
    width: 100%;
    height: auto;
}

.header_container {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.HeaderNav {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 15px 25px;
    top: 0;
    left: 0;
    box-sizing: border-box;
    font-family: "Garamond", serif;
    font-size: 1.5rem;
    color:black;
    text-shadow: 2px 2px 8px;
    width: 100%;
}

.HeaderText {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* For Nav Bar*/
.Castle{
    font-family: "Garamond", serif;
    list-style-type: "🏰";
    margin: 10px;
    font-size: 20px;
}
/* New Header Layout/Design Above*/

.extra_space {
    padding: 10px;
}

.underlined {
    text-decoration: underline;
}

.image_stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.home_image_text {
    width: 40%;
    padding-left: 100px;
    display:block;
}
.start_button {
    width: 15%;
    display: block;
}

.menu_button {
    width: 10%;
    display: block;
}

.Background {
    background-image: url(../img/TNEA_Background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* for character choose sheet below */
ul.noCastle {
    display: flex;
    justify-content: space-between;
    font-family: "Garamond", serif;
    list-style-type: none;
    margin: 40px;
    padding: 0px;
    font-size: 20px;
    /* try to make text/margin/padding percentage*/
}


li.char {
    display: flex;
    border: 3px solid rgb(95, 42, 42);
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(244, 221, 221);
    box-sizing: border-box;
    width: 20%;
    justify-content: center;
}

.charButton {
    background: none;
    border: none;
    cursor: pointer;

    width: 100%;

    font-family: "Garamond", serif;
    font-size: 20px; 
}

/* makes buttons stack once the page gets too small */
@media screen and (max-width: 700px) {
    ul.noCastle {
        display : flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        gap: 10px;
    }

    ul.noCastle li {
        width: 48%;
    }
}

/* classes used to reveal and hide buttons*/
.charImg{
    display: none;
}

.charImg.reveal{
    display: block;
}

/* img and text are side by side */
div.charImg.reveal {
    display: flex;
    align-items: center;
}

/* adjusts so picture and text stacks when screen is too small */
@media screen and (max-width: 700px) {
    div.charImg.reveal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}