body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #222;
}

h1 {
    font-family: "Garamond", serif;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    margin: 8px;
    padding: 0;
    color:black;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h2 {
    font-family: "Garamond", serif;
    font-weight: bold;
    font-size: 3rem;
    margin: 40px;
    padding: 0;
    color:black;
}

p {
    font-family: "Garamond", serif;
    font-size: 2rem;
    margin: 60px;
    padding: 0;
    color:black;
}

p span {
    text-decoration: underline;
}

ul {
    font-family: "Garamond", serif;
    list-style-type: "🏰";
    margin: 40px;
    font-size: 25px
}
